.header {
	z-index: 9; height: 100px; width: 100%; min-width: 1440px; overflow: hidden; background: rgba(0,0,0,.3);
}
.h_sec1 ,
.h_sec2 ,
.h_sec3 ,
.h_sec4 ,
.h_sec5 ,
.h_sec6 ,
.h_sec7 {
	
}
