/*@charset "gb2312";*/
/**
 * 网站地址: http://www.qietu.com
 * ----------------------------------------------------------------------------
 * $codex 1. id和class命名采用该版块的英文单词或组合命名，并第一个单词小写，第二个单词首个字母大写，如:thinkCss（最新产品/think+Css)
 * $codex 2. CSS样式表各区块用注释说明
 * $codex 3. 尽量使用英文命名原则
 * $codex 4. 尽量不加中杠和下划线
 * $codex 5. 尽量不缩写，除非一看就明白的单词
 * $codex 6. 单词长度不要超过10位
 * $codex 7. "_"表示是父级元素
 * $codex 8. "-"表示独立，和公共样式
 * $Author: psd2html
 * $mailto: <psd2html@qq.com>
 * $hack :ie 6 _  \ ie7 *+ \  ie6,ie7 *  \  ie7,firefox !important ie9, \9
*/
/**
 +------------------------------------------------------------------------------
 * 网站样式重写
 +------------------------------------------------------------------------------
 * @comefrom  互联网
 * @subpackage  RBAC
 +------------------------------------------------------------------------------
 */
html{-webkit-text-size-adjust:none; /*解决chrome浏览器下字体不能小于12px*/}
body{overflow-x: auto; font-size:14px;color: #333;font-family: arial,"微软雅黑";}
a{outline:none color: inherit;text-decoration:none;}a:hover{ text-decoration:underline;}
html{zoom:1;}html *{outline:0;zoom:1;} html button::-moz-focus-inner{border-color:transparent!important;} 
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;} 
table{border-collapse:collapse;border-spacing:0;} 
fieldset,a img{border:0;} 
address,caption,cite,code,dfn,em,th,var，i{font-style:normal;font-weight:normal;}
li{list-style:none;} caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;} 
q:before,q:after{content:'';}
em,i{font-style: normal;}
input[type="submit"],input[type="reset"],input[type="button"],input[type=date],button,select{
	/*去掉苹果的默认UI来渲染按钮 、解决部分手机浏览器对border：none无效办法*/
	appearance:none;
	-moz-appearance:none; /* Firefox */
	-webkit-appearance:none; /* Safari 和 Chrome */
	/*去掉微信端input-text在ios轻快下的点击出先黑色半透明背景*/
	-webkit-tap-highlight-color:rgba(255,0,0,0)!important;
}
a,input[type=text],select,input[type=password],textarea{
	/*去掉微信端input-text在ios轻快下的点击出先黑色半透明背景*/
	-webkit-tap-highlight-color:rgba(255,0,0,0)!important;
}

/*常用的样式*/
.p-left {
	float: left;
}
.p-right {
	float: right;
}
.p-prev,.p-next {
	position: absolute; top: 50%; left: 0; 
}
.p-next  {
	right: 0;
}
.fix-top {
	position: fixed; top: 0; left: 0;
}
.fix-bottom {
	position: fixed; bottom: 0; left: 0;
}
.gb-mask,.mask {
	position: fixed; top: 0; left: 0; display: block; width: 100%; height: 100%;
	background: rgba(0,0,0,.2); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#48000000,endColorstr=#48000000);
	background-image: url(../images/lc126.png); background-position: center; background-repeat: no-repeat;
}
.mask {
	position: absolute;
}
.wrap {
	width: 1140px;
}
.media-item {
	overflow: hidden;
}

.ell {
	overflow: hidden; text-overflow: ellipsis; white-space: nowrap;
}
.img img {
	vertical-align: top;
}

