* {
  padding: 0; margin: 0;
}
body {
  background: #000;
}
.test {
  color: #fff;
  height: 40px;
}
#scroll-wrap {
  position: relative;
  height: 500px;
  overflow: hidden;
  border: 1px solid #ddd;
  margin: 50px;
  .content {
    position: absolute; padding: 10px 20px 10px 10px;
  }
  ul {
    list-style: none;
    li {
      padding: 0 10px; height: 22px; font-size: 12px; color: #fff; line-height: 22px;
      border: 1px solid #555; border-bottom: none;
      &:last-child {
        border-bottom: 1px solid #555;
      }
    }
  }
  .scroll-bar {
    position: absolute; border-left: 1px solid #fff;
    width: 10px;
    height: 100%;
    top: 0;
    right: 0;
    background: #000;
    .bar {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      background: #888;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
