body {
	background: #ebebeb;
}
.topTips {
	border-radius: .2rem; margin: 0 .6rem .2rem .6rem; font-size: .24rem; color: #999; line-height: 2; text-align: center; background: #ddd; 
}
.topTips2 {
	padding: .1rem; margin: 0 .5rem .2rem .5rem;  text-align: left;
}
.topTips2 p {
	font-size: .22rem; text-indent: .44rem;
}
.doc {
	color: #666;
}
.blue {
	color: #2788f5;
}
a.blue:active {
	color: #2788d5; background: #ccc;
}
.chat_record{
	padding: .2rem .1rem 0 .1rem;
}
.chat_record .left ,
.chat_record .right {
	min-height: .7rem; margin-bottom: .3rem; 
}
.chat_record .user-pic {
	position: absolute; top: 0;  width: .7rem; height: .7rem;
}
.chat_record .user-pic img {
	width: 100%; height: 100%;
}
.chat_record > div.left span ,
.chat_record > div.right span {
	position: relative; display: inline-block; max-width: 4.2rem; min-width: .4rem; min-height: .33rem; padding: .18rem .1rem; border: .02rem solid #ddd; border-radius: .1rem; font-size: .28rem; line-height: .42rem; word-break: break-word;
}
.chat_record .left {
	position: relative; padding-left: .9rem;  background-position: left top;
}
.chat_record .left span {
	background: #fff;
}
.chat_record .left span:before{
	content: ""; position: absolute; top: .2rem; right: calc(100% - .075rem); right: -webkit-calc(100% - .075rem); width: .12rem; height: .12rem;   border: .02rem solid #ddd; border-right-color: rgba(0,0,0,0); border-bottom-color: rgba(0,0,0,0); background: #fff;
	transform: rotate(-45deg); 
	-webkit-transform: rotate(-45deg);
}
.chat_record .right {
	position: relative; text-align: right; padding-right: .9rem; 
}
.chat_record .left .user-pic {
	left: 0;
}
.chat_record .right .user-pic {
	right: 0;
}
.chat_record .right span {
	background: #2788f5; text-align: left; color: #fff;
}
.chat_record .right span:before{
	content: ""; position: absolute; top: .2rem; left: calc(100% - .075rem); left: -webkit-calc(100% - .075rem); width: .12rem; height: .12rem;   border: .02rem solid #ddd; border-left-color: rgba(0,0,0,0); border-top-color: rgba(0,0,0,0); background: #2788f5; 
	transform: rotate(-45deg); 
	-webkit-transform: rotate(-45deg);
}
.chat_form {
	z-index: 99; position: fixed; bottom: 0; left: 0; width: calc(100% - .4rem); -webkit-width: calc(100% - .4rem); height: .6rem; padding: .1rem 1rem .1rem .2rem; border-top: 1px solid #ddd; line-height: .6rem; background: #fff; 
}
.chat_form form *{
	vertical-align: top;
}
.chat_form textarea {
	width: calc(100% - .02rem - 1rem - .1rem); width: -webkit-calc(100% - .02rem - 1rem - .1rem); height: .42rem; padding: .08rem .05rem; resize: none; border: 1px solid #ccc; border-radius: .1rem; font-size: .28rem; line-height: .42rem;
}
.chat_form button {
	float: right; height: .6rem; padding:0 .15rem; border: none; border-radius: .1rem; font-size: .28rem; line-height: .6rem; color: #fff; background: #ccc; white-space: nowrap; text-align: center;
}
.chat_form button.on {
	background: #80d350;
}
.chat_form button.on:active {
	background: #50c330;
}
/*.chat_links {
	background: #fff;
}
.chat_links ul {
	border-top:1px solid #ddd; border-bottom:1px solid #ddd; 
}
.chat_links li a{
	display: block; padding: .1rem 0; border-bottom: 1px solid #ddd; margin: 0 .15rem; color: #333;
}
.chat_links li a:active {
	background: #f3f3f3;
}
.chat_links li:last-child a {
	border: none; 
}
.chat_links li .media-img img{
	width: 78px; height: 78px; border: 1px solid #ddd;
}
.chat_links li .media-img ,
.chat_links li .media-right {
	display: inline-block; vertical-align: top;
}
.chat_links li .media-right {
	width: calc(100% - .9rem); width: -webkit-calc(100% - 1rem); 
}
.chat_links li .media-right h4 {
	font-size: .28rem; line-height: 1.2; padding-bottom: .1rem; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;
}
.chat_links li .media-right p {
	font-size: .22rem; color: #666; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;
}
}*/

.chat_record i.blue{
	color:#068; display:inline!important; padding:0 ; margin:0 ;
}







