.p-my-list ,
.p-q-list ,
.p-q-list ,
.p-dn-list ,
.p-on-list {
	border-top: 1px solid #ddd; border-bottom: 1px solid #ddd;  background: #fff;
}

/*心理咨询-提问详情.html*/
.psy-qDetails {
	padding-top: .2rem; 
}
.p-q-txt {
	padding: .05rem .1rem .1rem .1rem; border-radius: .05rem; margin: 0 .2rem; background: #fff; 
}
.p-q-txt .text {
	margin-bottom: .6rem; font-size: .24rem; line-height: 2;  text-align: justify; text-indent: .48rem;
}
.p-q-txt .bottom {
	overflow: hidden; color: #999;
}
.p-q-txt .left {
	float: left;
} 
.p-q-txt .right {
	float: right;
}
.p-q-txt .bottom .left span {
	margin-right: .2rem;
}
.p-q-list li {
	padding-left: .3rem; border: none;
}
.p-q-list li .media {
	height: .85rem; border-bottom: 1px solid #ddd;
}
.p-q-list li .media {
	padding-left: 0;
}
.p-q-list li:last-child .media {
	border: none;
}
.p-q-list li .media:active {
	background: #f3f3f3;
}
.p-q-list .media-obj {
	position: relative; width: .6rem; height: .85rem;
}
.p-q-list .media-obj img{
	position: absolute; top: 0; bottom: 0; left: 0; width: .4rem; height: .4rem; margin: auto;
}
.p-q-list .datas {
	color: #999;
}
.p-q-list .datas span {
	margin-right: .1rem;
}

/*心理咨询-我的咨询-消息（医师）.html*/
.p-dn-list .media {
	position: relative;
}
.p-dn-list .media {
	padding: .1rem .2rem; 
}
.p-dn-list li:last-child .media {
	border: none;
}
.p-dn-list .media-title {
	max-width: 4rem;
}
.p-dn-list .media-obj img {
	width: .75rem; height: .75rem; border: 1px; solid #ddd; border-radius: 100;
}
.p-dn-list .handle {
	position: absolute; top: .1rem; right: .3rem; color: #999;
}
.p-dn-list .bottom {
	color: #999;
}
/*心理咨询-我的咨询-消息（医师）.html*/
.p-my-nav {
	padding: .2rem .3rem .4rem .3rem;  
}
.p-my-nav ul{
	overflow: hidden; border: 2px solid #007aff; border-radius: .1rem;
}
.p-my-nav li a {
	float: left; display: block; width: calc(50% - 2px); font-size: .27rem; line-height: 2; text-align: center;
}
.p-my-nav li a {
	border-right: 2px solid #007aff;
}
.p-my-nav li:last-child a {
	border-right: none;
}  
.p-my-nav li.on a {
	color: #fff; background: #007AFF; 
}
.p-on-list .media {
	padding-top: .2rem; padding-bottom: .2rem; 
}
.p-on-list .media-obj img {
	width: .75rem; height: .75rem;
}

/*心理咨询-在线咨询.html*/
.p-on-list .bottom {
	color: #999;
}
.p-on-list small {
	font-size: .22rem; color: #999;
}

/*心理咨询-我的咨询-提问.html*/

.p-q-list .media-title {
	max-width: 5rem;
}
.p-o-submit {
	padding-top: .6rem; text-align: center;
}
.p-o-submit button {
	width: 50%; height: .75rem; border: none; border-radius: .1rem; font-size: .3rem; color: #fff; background: #007AFF;
}
.p-o-texta {
	padding: .2rem; background: #fff;
}
.p-o-texta  .texta {
	height: 3.5rem;
}
.p-o-texta textarea {
	height: 3rem; font-size: .24rem;
}
.p-o-texta .texta-handle {
	display: none; color: #f00;
}
.p-o-title {
	padding: 0 .3rem; font-size: .25rem; color: #999; line-height: .85rem;
}
.warning {
	font-size: .27rem; color: #f00; line-height: 3; text-align: center;
}
.psy-oQuery .dialog {
	top: 50%; width: auto; padding: 0 .3rem;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
}
.p-o-eInfo .form-item .label {
	width: 1.9rem
}
.p-o-eInfo .form-item .right {
	width: calc(100% - 1.9rem)
}
